<section>
  <article>
    <h2>{{ 'PAGES.PROGRESS.TITLE' | translate }}</h2>
  </article>
  <section>
    <section>
      <article>
        <h2>{{ 'PAGES.PROGRESS.TROPHIES_TITLE' | translate }}</h2>
        <div class="chart-wrapper">
          <app-graph [type]="'line'" [labels]="trophiesLabels" [datasets]="trophiesDatasets" [options]="trophiesOptions" [width]="600" [height]="300" [noDataMessage]="trophiesNoDataMessage"></app-graph>
        </div>
      </article>
      <section>
        <article>
          <h2>{{ 'PAGES.PROGRESS.WINRATE_TITLE' | translate }}</h2>
          <div class="chart-wrapper small">
              <app-graph [type]="'doughnut'" [labels]="winLabels" [data]="winData" [backgroundColor]="winBackground" [options]="winOptions" [width]="200" [height]="200"></app-graph>
          </div>
        </article>
        @if (metricsStore.metric(); as metric) {
          <p>Actual: {{metric.streak.current}} ({{metric.streak.type}})</p>
        }
      </section>
    </section>
    <article>
      <app-graph [type]="'bar'" [labels]="donationsLabels" [datasets]="donationsDatasets" [options]="donationsOptions" [width]="600" [height]="300" [noDataMessage]="'No hay datos'"></app-graph>
    </article>
    <article>
      <h3>{{ 'PAGES.PROGRESS.BATTLES_COMPARISON' | translate }}</h3>
      @if (metricsStore.metric(); as metric) {
        <p>Actual: {{metric.battles.total}} ({{metric.battles.last24hr}})</p>
      }
      <app-graph [type]="'bar'" [labels]="battlesCompLabels" [datasets]="battlesCompDatasets" [options]="battlesCompOptions" [width]="600" [height]="300" [noDataMessage]="'No hay datos'"></app-graph>
    </article>

  </section>
</section>
<app-sidebar></app-sidebar>
