@switch (router.url) {
  @case ('/landing') {
    <header>
      <section>
        <app-language-selector></app-language-selector>
        <app-common-button routerLink="/register">{{ 'COMPONENTS.SHARED.GET_STARTED' | translate }}</app-common-button>
      </section>
    </header>
  }
  @case ('/dashboard') {
    <header>
      <section>
        @if(content$ | async; as content) {
          <ng-container>
            <ng-container *ngTemplateOutlet="content"></ng-container>
          </ng-container>
        }
      </section>
    </header>
  }
  @case ('/profile') {
    <header>
      <section>
        @if(content$ | async; as content) {
          <ng-container>
            <ng-container *ngTemplateOutlet="content"></ng-container>
          </ng-container>
        }
      </section>
    </header>
  }
}
