<header>
  @if (router.url === '/landing' || router.url === '/login' || router.url === '/register' || router.url === '/recover-password') {
    <section>
      <app-language-selector></app-language-selector>
      <app-common-button routerLink="/register">{{ getStarted | translate }}</app-common-button>
    </section>
  } @else {
    @if (router.url === '/dashboard') {
      <section>
        <app-language-selector></app-language-selector>
        <app-common-button (click)="logout()">{{ logoutText | translate }}</app-common-button>
      </section>
    }
    @if (router.url === '/profile') {
      <section>
        <app-language-selector></app-language-selector>
        <app-common-button (click)="logout()">{{ logoutText | translate }}</app-common-button>
      </section>
    }
  }
</header>
