@if (router.url === '/landing' || router.url === '/login' || router.url === '/register' || router.url === '/recover-password' || router.url === '/dashboard' || router.url === '/profile') {
  <header>
    @switch (router.url) {
      @case ('/landing') {
        <section>
          <app-language-selector></app-language-selector>
          <app-common-button routerLink="/register">{{ getStarted | translate }}</app-common-button>
        </section>
      }
      @case ('/login') {
        <app-language-selector></app-language-selector>
      }
      @case ('/register') {
        <app-language-selector></app-language-selector>
      }
      @case ('/recover-password') {
        <app-language-selector></app-language-selector>
      }
      @case ('/dashboard') {
        <section></section>
      }
      @case ('/profile') {
        <section></section>
      }
    }
  </header>
}
