<form [formGroup]="form" (ngSubmit)="onSubmit($event)">
  <div class="fieldset">
    <h1 class="form__legend">@if(session) { {{ 'PAGES.SESSIONS.EDIT_TITLE' | translate }} } @else { {{ 'PAGES.SESSIONS.CREATE_TITLE' | translate }} }</h1>

    <app-form-input class="glass-input" name="title" label="{{ 'PAGES.SESSIONS.LABEL.TITLE' | translate }}" formControlName="title"></app-form-input>

    <app-form-input class="glass-input" type="textarea" name="notes" label="{{ 'PAGES.SESSIONS.LABEL.NOTES' | translate }}" formControlName="notes"></app-form-input>

    <app-form-input class="glass-input" name="mood" label="{{ 'PAGES.SESSIONS.LABEL.MOOD' | translate }}" formControlName="mood"></app-form-input>

    <app-form-input class="glass-input" name="enfoque" label="{{ 'PAGES.SESSIONS.LABEL.ENFOQUE' | translate }}" formControlName="enfoque"></app-form-input>

    <app-form-input class="glass-input" type="datetime-local" name="startTime" label="{{ 'PAGES.SESSIONS.LABEL.START' | translate }}" formControlName="startTime"></app-form-input>

    <app-form-input class="glass-input" type="datetime-local" name="endTime" label="{{ 'PAGES.SESSIONS.LABEL.END' | translate }}" formControlName="endTime"></app-form-input>

    <article class="flex">
      <app-common-button type="submit" [disabled]="form.invalid || loading">{{ 'PAGES.SESSIONS.SAVE' | translate }}</app-common-button>
      <app-common-button type="button" (click)="onCancel()">{{ 'PAGES.SESSIONS.CANCEL' | translate }}</app-common-button>
    </article>
  </div>
</form>

