header,
footer {
  display: flex;
  flex-direction: row;
  min-width: 100%;
  min-height: 6.00rem;
  background-color: var(--components-color);
  font-family: var(--font-primary), sans-serif;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.06);
  align-content: center;
  align-items: center;
  justify-content: space-between;
}

header svg circle,
header .icon-background,
footer svg circle,
footer .icon-background,
aside svg circle,
aside .icon-background{
  fill: var(--elements-color);
}
