header,
footer {
  display: flex;
  flex-direction: row;
  min-width: 100%;
  min-height: 6.00rem;
  background-color: var(--components-color);
  font-family: var(--font-primary), sans-serif;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.06);
  align-content: center;
  align-items: center;
  justify-content: space-between;
}

header svg circle,
header .icon-background,
footer svg circle,
footer .icon-background {
  fill: var(--elements-color);
}

.header__social-link, .footer__social-link {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.header__sr-only, .footer__sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  clip-path: inset(50%);
  white-space: nowrap;
  border: 0;
  pointer-events: none;
}
