<form (ngSubmit)="onSubmit($event)" [formGroup]="recoverPasswordForm" class="login-and-register" novalidate>
  <article class="image-box">
    <h1>{{'PAGES.AUTH.GLOBAL.TITLE' | translate}}</h1>
    <h2>{{'PAGES.AUTH.GLOBAL.SUBTITLE' | translate}}</h2>
    <p>{{'PAGES.AUTH.GLOBAL.TEXT' | translate}}</p>
  </article>
  <fieldset class="fieldset">
    <h1 class="form__legend">{{ 'PAGES.AUTH.RECOVER.LEGEND' | translate }}</h1>

    @if (!token && recoverPasswordForm.get('email')) {
      <app-form-input [placeholder]="'PAGES.AUTH.RECOVER.EMAIL_PLACEHOLDER' | translate" [required]="true" formControlName="email" type="email" class="glass-input" [class.has-error]="recoverPasswordForm.get('email')?.touched && recoverPasswordForm.get('email')?.invalid">
        @if (recoverPasswordForm.get('email')?.touched && recoverPasswordForm.get('email')?.invalid) {
          @if (recoverPasswordForm.get('email')?.errors?.['required']) {
            <article class="error" title="{{ 'VALIDATION.REQUIRED' | translate }}">{{ 'VALIDATION.REQUIRED_SHORT' | translate }}</article>
          } @else if (recoverPasswordForm.get('email')?.errors?.['email']) {
            <article class="error" title="{{ 'VALIDATION.EMAIL_INVALID' | translate }}">{{ 'VALIDATION.EMAIL_INVALID_SHORT' | translate }}</article>
          } @else {
            <article class="error" title="{{ 'VALIDATION.INVALID' | translate }}">{{ 'VALIDATION.INVALID_SHORT' | translate }}</article>
          }
        }
      </app-form-input>
    }

    @if (tokenValid) {
      <section>
        @if (recoverPasswordForm.get('newPassword')) {
          <app-form-input [label]="'PAGES.AUTH.RECOVER.NEW_PASSWORD_LABEL' | translate" [placeholder]="'PAGES.AUTH.RECOVER.NEW_PASSWORD_PLACEHOLDER' | translate" [required]="true" formControlName="newPassword" type="password" class="glass-input" [class.has-error]="recoverPasswordForm.get('newPassword')?.touched && recoverPasswordForm.get('newPassword')?.invalid">
            @if (recoverPasswordForm.get('newPassword')?.touched && recoverPasswordForm.get('newPassword')?.invalid) {
              @if (recoverPasswordForm.get('newPassword')?.errors?.['required']) {
                <article class="error" title="{{ 'VALIDATION.PASSWORD_REQUIRED' | translate }}">{{ 'VALIDATION.PASSWORD_REQUIRED_SHORT' | translate }}</article>
              } @else {
                <article class="error" title="{{ 'VALIDATION.PASSWORD_WEAK' | translate }}">{{ 'VALIDATION.PASSWORD_WEAK_SHORT' | translate }}</article>
              }
            }
          </app-form-input>
        }
        @if (recoverPasswordForm.get('confirmPassword')) {
          <app-form-input [label]="'PAGES.AUTH.RECOVER.CONFIRM_PASSWORD_LABEL' | translate" [placeholder]="'PAGES.AUTH.RECOVER.CONFIRM_PASSWORD_PLACEHOLDER' | translate" [required]="true" formControlName="confirmPassword" type="password"  class="glass-input" [class.has-error]="recoverPasswordForm.get('confirmPassword')?.touched && recoverPasswordForm.get('confirmPassword')?.invalid">
            @if (recoverPasswordForm.get('confirmPassword')?.touched && recoverPasswordForm.get('confirmPassword')?.invalid) {
              <article class="error" title="{{ 'VALIDATION.PASSWORD_REQUIRED' | translate }}">{{ 'VALIDATION.PASSWORD_REQUIRED_SHORT' | translate }}</article>
            }
          </app-form-input>
        }
        @if (recoverPasswordForm.errors?.['passwordMismatch']) {
          <small class="error">{{ 'VALIDATION.PASSWORDS_MISMATCH' | translate }}</small>
        }
      </section>
    }

    @if (message) {
      <p class="success">{{ message }}</p>
    }
    @if(error) {
      <p class="error">{{ error }}</p>
    }

    <app-common-button [disabled]="recoverPasswordForm.invalid || submitted" type="submit">{{ token ? ('PAGES.AUTH.RECOVER.CHANGE_PASSWORD' | translate) : ('PAGES.AUTH.RECOVER.SEND_EMAIL' | translate) }}</app-common-button>
    <a routerLink="/login">{{ 'PAGES.AUTH.RECOVER.BACK_TO_LOGIN' | translate }}</a>
  </fieldset>
</form>

