<section>
  <h2>{{ 'PAGES.WEAKNESSES.SUMMARY_TITLE' | translate }}</h2>
  @if (analyticsStore.loading() && !analyticsStore.summary()) {
    <p>{{ 'PAGES.WEAKNESSES.LOADING_SUMMARY' | translate }}</p>
  }
  @if (analyticsStore.error(); as pErr) {
    <p class="error">{{ 'PAGES.WEAKNESSES.ERROR_SUMMARY' | translate:{ err: pErr } }}</p>
  }
  @if (analyticsStore.summary(); as summaryReport) {
    <p>{{summaryReport.totalBattles}}</p>
    <p>{{summaryReport.avgElixirLastDeck}}</p>
    <p>{{summaryReport.weakestArchetype}}</p>
    <p>{{summaryReport.strongestArchetype}}</p>
    <p>{{summaryReport.winRateLast25}}</p>
    <p>{{summaryReport.winRateLast7d}}</p>
  }
</section>
<section>
  <h2>{{ 'PAGES.WEAKNESSES.TITLE' | translate }}</h2>
  @if (analyticsStore.loading() && !analyticsStore.weaknesses()) {
    <p>{{ 'PAGES.WEAKNESSES.LOADING_WEAKNESSES' | translate }}</p>
  }
  @if (analyticsStore.error(); as pErr) {
    <p class="error">{{ 'PAGES.WEAKNESSES.ERROR_WEAKNESSES' | translate:{ err: pErr } }}</p>
  }
  @if (analyticsStore.weaknesses()) {
    <article class="chart-container" style="max-width:900px; margin: 1rem 0; height: 420px;">
      <canvas #weaknessesChart style="width:100%; height:100%; display:block;" class="canvas"></canvas>
    </article>
  }
</section>
<section>
  <h2>{{ 'PAGES.WEAKNESSES.PROBLEMATIC_CARDS_TITLE' | translate }}</h2>
  @if (analyticsStore.loading() && !analyticsStore.problematicCards()) {
    <p>{{ 'PAGES.WEAKNESSES.LOADING_PROBLEMATIC_CARDS' | translate }}</p>
  }
  @if (analyticsStore.error(); as pErr) {
    <p class="error">{{ 'PAGES.WEAKNESSES.ERROR_PROBLEMATIC_CARDS' | translate:{ err: pErr } }}</p>
  }
  @if (analyticsStore.problematicCards(); as problematicCardsReport) {
    @for (problematicCard of problematicCardsReport.problematicCards; track problematicCard.cardId) {
      <img src="{{problematicCard.iconUrl}}" alt="{{problematicCard.name}}" />
      <article>
        <p>{{problematicCard.name}}</p>
        <p>{{problematicCard.playerLossRate.toFixed(2)}}</p>
      </article>
      <article>
        <p>{{problematicCard.appearances}}</p>
        <p>{{problematicCard.playerLossRate.toFixed(2)}}</p>
      </article>
    }
  }
</section>

<app-sidebar></app-sidebar>
