<label for="lang-select" class="language-selector__languages">
  <img [src]="getFlagPath(currentLang)" [alt]="languageLabel | translate" class="language-selector__flag" [srcset]="getFlagPath(currentLang) + ' 16w, ' + getFlagPath(currentLang) + ' 32w'" [attr.longdesc]="'#desc-' + currentLang"/>
</label>
<select id="lang-select" (change)="setLanguage($any($event.target).value)" class="language-selector" [attr.tabindex]="tabindex">
  @for (l of languages; track l.code) {
    <option [value]="l.code" [selected]="l.code === currentLang" class="language-selector__languages">{{l.label}}</option>
  }
</select>
<span [id]="'desc-' + currentLang" hidden>{{ 'COMPONENTS.SHARED.FLAG_DESC_' + (currentLang | uppercase) | translate }}</span>
