<form class="add-task-form" [formGroup]="tagForm" (ngSubmit)="onSubmit($event)" novalidate>
  <fieldset class="grid-center">
	<legend class="form__legend">{{ 'PAGES.LINK_PLAYER_PROFILE.LEGEND' | translate }}</legend>

	<app-form-input
	  formControlName="tag"
	  type="text"
	  name="tag"
	  [label]="'PAGES.LINK_PLAYER_PROFILE.TAG_LABEL' | translate"
	  [placeholder]="'PAGES.LINK_PLAYER_PROFILE.TAG_PLACEHOLDER' | translate"
	  [required]="true"
	  class="grid"
	></app-form-input>

	@if (tagForm.get('tag')?.touched && tagForm.get('tag')?.invalid) {
	  @if (tagForm.get('tag')?.errors?.['required']) {
		<p class="error">{{ 'PAGES.LINK_PLAYER_PROFILE.REQUIRED_ERROR' | translate }}</p>
	  }
	  @if (tagForm.get('tag')?.errors?.['tagNotFound']) {
		<p class="error">{{ 'PAGES.LINK_PLAYER_PROFILE.TAG_NOT_FOUND' | translate }}</p>
	  }
	}

	<app-common-button type="submit" class="grid" [disabled]="tagForm.invalid || tagForm.pending">
	  {{ 'PAGES.LINK_PLAYER_PROFILE.SUBMIT' | translate }}
	</app-common-button>
  </fieldset>
</form>
