<ng-template #headerContent>
  @if (usersStore.loading() && !usersStore.user()) {
    <p>Cargando usuario...</p>
  }
  @if (usersStore.error(); as uErr) {
    <p class="error">Error usuario: {{uErr}}</p>
  }
  @if (usersStore.user(); as user) {
    <p>{{user.name}} {{user.surnames}}</p>
    <p>{{user.username}}</p>
    <p>{{user.email}}</p>
  }
  <app-common-button [routerLink]="['/edit-user']">{{ 'PAGES.PROFILE.EDIT_PROFILE' | translate }}</app-common-button>
  <app-common-button (click)="openDeleteModal()">{{ 'PAGES.PROFILE.DELETE_ACCOUNT' | translate }}</app-common-button>
</ng-template>
<app-modal [isOpen]="deleteModalOpen" [title]="'PAGES.PROFILE.DELETE_MODAL.TITLE' | translate" (close)="closeDeleteModal()">
  <p>{{ 'PAGES.PROFILE.DELETE_MODAL.MESSAGE' | translate }}</p>
  <div class="modal__actions">
    <app-common-button (click)="closeDeleteModal()">{{ 'PAGES.PROFILE.DELETE_MODAL.CANCEL' | translate }}</app-common-button>
    <app-common-button (click)="removeAccount()">{{ 'PAGES.PROFILE.DELETE_MODAL.CONFIRM' | translate }}</app-common-button>
  </div>
</app-modal>
<section class="player-profile">
  @if (profileStore.loading() && !profileStore.profile()) {
    <p>Cargando perfil de jugador...</p>
  }
  @if (profileStore.error(); as pErr) {
    <p class="error">Error perfil: {{pErr}}</p>
  }
  @if (profileStore.profile(); as profile) {
    <p>{{profile.name}}</p>
    <p>{{profile.tag }}</p>
    <p>{{profile.trophies}}</p>
    <p>{{profile.bestTrophies}}</p>
    <p>{{(profile.totalDonations)}}</p>
    <img src="{{profile.currentFavouriteCard.iconUrl.medium}}" alt="Imagen de la carta favorita actual">
    <p>{{profile.currentPathOfLegendSeasonResult}}</p>
    <p>{{profile.arena.name}}</p>
    @for (playerCard of profile.currentDeck.playerCards; track playerCard.id) {
      <img src="{{playerCard.iconUrl.medium}}" alt="carta del mazo actual">
    }
    <p>{{profile.achievements}}</p>
    <p>{{profile.currentDeck.playerCards}}</p>
    @for (playerCard of profile.playerCards; track playerCard.id) {
      <img src="{{playerCard.iconUrl.medium}}" alt="carta del jugador">
    }
  }
</section>
<app-sidebar></app-sidebar>
