*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--color-primary-5);
  font-family: var(--font-primary), sans-serif;
  background-image:
    linear-gradient(45deg, var(--color-primary-4) 25%, transparent 25%),
    linear-gradient(-45deg, var(--color-primary-4) 25%, transparent 25%),
    linear-gradient(45deg, transparent 75%, var(--color-primary-4) 75%),
    linear-gradient(-45deg, transparent 75%, var(--color-primary-4) 75%);
  background-size: 47.8px 47.8px;
  line-height: 1.125;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

button,
input,
textarea,
select {
  font: inherit;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

html {
  scroll-behavior: smooth;
}
