@if (type === 'textarea') {
  <label [for]="name">{{ label || placeholder }}</label>
  <textarea [id]="name" [placeholder]="placeholder" [disabled]="disabled" (input)="onInput($event)" (blur)="onBlur()">{{ value }}</textarea>
} @if (type === 'checkbox') {
  <input [id]="name" type="checkbox" [checked]="value" [disabled]="disabled" (change)="onCheckboxChange($event)" (blur)="onBlur()" />
  <label [for]="name">{{ label || placeholder }}</label>
} @else {
  <label [for]="name">{{ label || placeholder }}</label>
  <input [id]="name" [type]="type" [placeholder]="placeholder" [value]="value" [disabled]="disabled" (input)="onInput($event)" (blur)="onBlur()"/>
}


