<section class="legal-page" aria-labelledby="cookies-title">
  <h1 id="cookies-title">{{ 'PAGES.COOKIES.TITLE' | translate }}</h1>
  <p>{{ 'PAGES.COOKIES.INTRO' | translate }}</p>
  <article>
    <h2>{{ 'PAGES.COOKIES.S1_TITLE' | translate }}</h2>
    <p>{{ 'PAGES.COOKIES.S1_BODY' | translate }}</p>
  </article>
  <article>
    <h2>{{ 'PAGES.COOKIES.S2_TITLE' | translate }}</h2>
    <ul>
      <li [innerHTML]="'PAGES.COOKIES.S2_ITEM1' | translate"></li>
      <li [innerHTML]="'PAGES.COOKIES.S2_ITEM2' | translate"></li>
      <li [innerHTML]="'PAGES.COOKIES.S2_ITEM3' | translate"></li>
      <li [innerHTML]="'PAGES.COOKIES.S2_ITEM4' | translate"></li>
    </ul>
  </article>
  <article>
    <h2>{{ 'PAGES.COOKIES.S3_TITLE' | translate }}</h2>
    <p>{{ 'PAGES.COOKIES.S3_BODY' | translate }}</p>
  </article>
  <article>
    <h2>{{ 'PAGES.COOKIES.S4_TITLE' | translate }}</h2>
    <p>{{ 'PAGES.COOKIES.S4_BODY' | translate }}</p>
  </article>
  <article>
    <p>{{ 'PAGES.COOKIES.OUTRO' | translate }}</p>
  </article>
</section>
