<section class="legal-page" aria-labelledby="notice-title">
  <h1 id="notice-title">{{ 'PAGES.NOTICE.TITLE' | translate }}</h1>
  <p>{{ 'PAGES.NOTICE.INTRO' | translate }}</p>
  <article>
    <h2>{{ 'PAGES.NOTICE.S1_TITLE' | translate }}</h2>
    <p [innerHTML]="'PAGES.NOTICE.S1_BODY' | translate"></p>
  </article>
  <article>
    <h2>{{ 'PAGES.NOTICE.S2_TITLE' | translate }}</h2>
    <p>{{ 'PAGES.NOTICE.S2_BODY' | translate }}</p>
  </article>
  <article>
    <h2>{{ 'PAGES.NOTICE.S3_TITLE' | translate }}</h2>
    <p>{{ 'PAGES.NOTICE.S3_BODY' | translate }}</p>
  </article>
  <article>
    <h2>{{ 'PAGES.NOTICE.S4_TITLE' | translate }}</h2>
    <p>{{ 'PAGES.NOTICE.S4_BODY' | translate }}</p>
  </article>
  <article>
    <h2>{{ 'PAGES.NOTICE.S5_TITLE' | translate }}</h2>
    <p>{{ 'PAGES.NOTICE.S5_BODY' | translate }}</p>
  </article>
  <article>
    <p>{{ 'PAGES.NOTICE.OUTRO' | translate }}</p>
  </article>
</section>
