<aside>
  <ul>
    <li routerLink="dashboard">Dashboard</li>
    <li routerLink="battles">Registro de batallas</li>
    <li routerLink="weaknesses">Diagnostico de debilidades</li>
    <li routerLink="goals">Lista de objetivos</li>
    <li routerLink="sessions">Diario de sesiones</li>
    <li routerLink="progess">Progreso del jugador</li>
    <li routerLink="profile">Perfil de usuarió</li>
    <li><app-common-button>cerrar sesión</app-common-button></li>
    <li><app-language-selector></app-language-selector></li>
  </ul>
</aside>
