@if (isOpened) {
  <aside>
    <ul>
      <li routerLink="/dashboard">{{ dashboard | translate }}</li>
      <li routerLink="/battles">{{ battles | translate}}</li>
      <li routerLink="/weaknesses">{{ weaknesses | translate }}</li>
      <li routerLink="/goals">{{ goals | translate }}</li>
      <li routerLink="/sessions">{{ sessions | translate }}</li>
      <li routerLink="/progress">{{ progress | translate }}</li>
      <li routerLink="/profile">{{ profile | translate }}</li>
      <li><app-common-button (click)="logout()">{{ logoutText | translate }}</app-common-button></li>
      <li><app-language-selector></app-language-selector></li>
    </ul>
  </aside>
}
<button (click)="openOrCloseSidebar()">sidebar</button>
