<form class="login-and-register" [formGroup]="loginForm" (ngSubmit)="onSubmit($event)" novalidate>
  <article class="image-box">
    <h1>{{'PAGES.AUTH.GLOBAL.TITLE' | translate}}</h1>
    <h2>{{'PAGES.AUTH.GLOBAL.SUBTITLE' | translate}}</h2>
    <p>{{'PAGES.AUTH.GLOBAL.TEXT' | translate}}</p>
  </article>
  <fieldset class="fieldset">
    <h2 class="form__legend">{{ 'PAGES.AUTH.LOGIN.LEGEND' | translate }}</h2>

    <app-form-input formControlName="email" type="email" name="email" [label]="'PAGES.AUTH.LOGIN.EMAIL_LABEL' | translate" [placeholder]="'PAGES.AUTH.LOGIN.EMAIL_PLACEHOLDER' | translate" [required]="true" class="glass-input" [class.has-error]="loginForm.get('email')?.touched && loginForm.get('email')?.invalid">
      @if (loginForm.get('email')?.touched && loginForm.get('email')?.invalid && loginForm.get('email')?.errors?.['required']) {
        <article class="error" title="{{ 'VALIDATION.REQUIRED' | translate }}">{{ 'VALIDATION.REQUIRED' | translate }}</article>
      } @else if (loginForm.get('email')?.touched && loginForm.get('email')?.invalid && loginForm.get('email')?.errors?.['email']) {
        <article class="error" title="{{ 'VALIDATION.EMAIL_INVALID' | translate }}">{{ 'VALIDATION.EMAIL_INVALID' | translate }}</article>
      }
    </app-form-input>

    <app-form-input formControlName="password" type="password" name="password" [label]="'PAGES.AUTH.LOGIN.PASSWORD_LABEL' | translate" [placeholder]="'PAGES.AUTH.LOGIN.PASSWORD_PLACEHOLDER' | translate" [required]="true" class="glass-input" [class.has-error]="loginForm.get('password')?.touched && loginForm.get('password')?.invalid">
      @if (loginForm.get('password')?.touched && loginForm.get('password')?.invalid && loginForm.get('password')?.errors?.['required']) {
        <article class="error" title="{{ 'VALIDATION.PASSWORD_REQUIRED' | translate }}">{{ 'VALIDATION.PASSWORD_REQUIRED' | translate }}</article>
      } @else if (loginForm.get('password')?.touched && loginForm.get('password')?.invalid && loginForm.get('password')?.errors?.['minLength']) {
        <article class="error" title="{{ 'VALIDATION.MIN_LENGTH' | translate }}">{{ 'VALIDATION.MIN_LENGTH' | translate }}</article>
      } @else if (loginForm.get('password')?.touched && loginForm.get('password')?.invalid && loginForm.get('password')?.errors?.['noUppercase']) {
        <article class="error" title="{{ 'VALIDATION.PASSWORD_NO_UPPER' | translate }}">{{ 'VALIDATION.PASSWORD_NO_UPPER' | translate }}</article>
      } @else if (loginForm.get('password')?.touched && loginForm.get('password')?.invalid && loginForm.get('password')?.errors?.['noLowercase']) {
        <article class="error" title="{{ 'VALIDATION.PASSWORD_NO_LOWER' | translate }}">{{ 'VALIDATION.PASSWORD_NO_LOWER' | translate }}</article>
      } @else if (loginForm.get('password')?.touched && loginForm.get('password')?.invalid && loginForm.get('password')?.errors?.['noNumber']) {
        <article class="error" title="{{ 'VALIDATION.PASSWORD_NO_NUMBER' | translate }}">{{ 'VALIDATION.PASSWORD_NO_NUMBER' | translate }}</article>
      } @else if (loginForm.get('password')?.touched && loginForm.get('password')?.invalid && loginForm.get('password')?.errors?.['noSpecial']) {
        <article class="error" title="{{ 'VALIDATION.PASSWORD_NO_SPECIAL' | translate }}">{{ 'VALIDATION.PASSWORD_NO_SPECIAL' | translate }}</article>
      }
    </app-form-input>

    @if (loginError) {
      <article class="error">{{ loginError }}</article>
    }

    <app-common-button type="submit" [disabled]="loginForm.invalid || loginForm.pending || loading">
      @if (!loading) {
        <ng-container>{{ 'PAGES.AUTH.LOGIN.SUBMIT' | translate }}</ng-container>
      } @else {
        <ng-container>{{ 'PAGES.AUTH.LOGIN.SUBMITTING' | translate }}</ng-container>
      }
    </app-common-button>
    <a [routerLink]="['/register']">{{ 'PAGES.AUTH.LOGIN.NO_ACCOUNT' | translate }}</a>
    <a [routerLink]="['/recover-password']">{{ 'PAGES.AUTH.LOGIN.FORGOT_PASSWORD' | translate }}</a>
  </fieldset>
</form>
