<form (ngSubmit)="applyFilters()">
  <section class="fieldset">
    <h2 class="form__legend">{{ 'PAGES.WEAKNESSES.ADVANCED_TITLE' | translate }}</h2>

    <article class="flex">
      <app-form-input class="glass-input" type="datetime-local" name="periodFrom" label="{{ 'PAGES.WEAKNESSES.FILTER_FROM' | translate }}" [(ngModel)]="periodFrom"></app-form-input>
      <app-form-input class="glass-input" type="datetime-local" name="periodTo" label="{{ 'PAGES.WEAKNESSES.FILTER_TO' | translate }}" [(ngModel)]="periodTo"></app-form-input>
    </article>

    <article class="flex">
      <app-form-input class="glass-input" type="select" name="gameMode" label="{{ 'PAGES.WEAKNESSES.FILTER_MODE' | translate }}" [options]="gameModes" [(ngModel)]="selectedMode"></app-form-input>
      <app-form-input class="glass-input" type="number" name="minBattles" label="{{ 'PAGES.WEAKNESSES.FILTER_MIN_BATTLES' | translate }}" [(ngModel)]="minBattles"></app-form-input>
      <app-form-input class="glass-input" type="number" name="limit" label="{{ 'PAGES.WEAKNESSES.FILTER_LIMIT' | translate }}" [(ngModel)]="limit"></app-form-input>
      <app-form-input class="glass-input" type="number" name="minAppearances" label="{{ 'PAGES.WEAKNESSES.FILTER_MIN_APPEARANCES' | translate }}" [(ngModel)]="minAppearances"></app-form-input>
    </article>

    <article class="flex">
      <app-common-button type="button" (click)="resetFilters()">{{ 'PAGES.WEAKNESSES.FILTER_RESET' | translate }}</app-common-button>
      <app-common-button type="submit">{{ 'PAGES.WEAKNESSES.FILTER_APPLY' | translate }}</app-common-button>
    </article>
  </section>
</form>
