@font-face {
  font-family: 'ClashRoyaleRegularFont';
  src:
    url('/assets/fonts/Clash_Regular.woff2') format('woff2'),
    url('/assets/fonts/Clash_Regular.woff') format('woff'),
    url('/assets/fonts/Clash_Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'ClashRoyaleBoldFont';
  src:
    url('/assets/fonts/Clash_Bold.woff2') format('woff2'),
    url('/assets/fonts/Clash_Bold.woff') format('woff'),
    url('/assets/fonts/Clash_Bold.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
