$color-primary-1: #184262;
$color-primary-2: #1D4D72;
$color-primary-3: #215883;
$color-primary-4: #256292;
$color-primary-5: #296EA3;

$color-secondary-1: #EBFEFE;
$color-secondary-2: #D8FEFE;
$color-secondary-3: #C4FDFD;
$color-secondary-4: #A6FCFC;
$color-secondary-5: #9DFBFB;

$color-success-1: #EBF9C8;
$color-success-2: #E4F6B6;
$color-success-3: #DDF4A4;
$color-success-4: #D7F291;
$color-success-5: #D0F07F;

$color-error-1: #F8C9C9;
$color-error-2: #F6B6B6;
$color-error-3: #F4A4A4;
$color-error-4: #F29191;
$color-error-5: #F07F7F;

$color-warning-1: #F8E2C9;
$color-warning-2: #F6D8B6;
$color-warning-3: #F4CFA4;
$color-warning-4: #F2C591;
$color-warning-5: #F0BB7F;

$color-info-1: #C9DAF8;
$color-info-2: #B6CDF6;
$color-info-3: #A4C0F4;
$color-info-4: #91B3F2;
$color-info-5: #7FA7F0;

$light-color-1: #FFFFFF;
$light-color-2: #F5F5F5;
$light-color-3: #EBEBEB;
$light-color-4: #E0E0E0;
$light-color-5: #D6D6D6;

$dark-color-1: #141414;
$dark-color-2: #1F1F1F;
$dark-color-3: #292929;
$dark-color-4: #333333;
$dark-color-5: #3D3D3D;

$font-primary: 'ClashRoyaleRegularFont';
$font-secondary: 'ClashRoyaleBoldFont';

$break-sm: 40rem;
$break-md: 48rem;
$break-lg: 64rem;
$break-xl: 80rem;
