/* Language selector flag */
.language-selector__flag {
  width: 2rem;
  height: 2rem;
  object-fit: cover;
  vertical-align: middle;
  display: inline-block;
  border-radius: 2px;
  margin-right: 0.5rem;
}
