.refresh-button {
  border: none;
  border-radius: 0.5rem;
}

header .refresh-button {
  padding: 1rem;
  background: var(--elements-color);
  border: none;
}

header .refresh-button svg path,{
  stroke: var(--components-color);
}

main .refresh-button {
  padding: 0.75rem;
  background: var(--components-color);
}

main .refresh-button svg {
  width: 24px;
  height: 24px;
}

main .refresh-button svg path,{
  stroke: var(--elements-color);
}
