footer {
  flex-wrap: wrap;
  color: var(--elements-color);
  border-radius: 8px 8px 0 0;
}

footer h1, footer .app {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 1rem;
  font-size: 3rem;
}

footer h2 {
  padding: 0.5rem;
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 0.25rem;
}

footer ul {
  display: flex;
  flex-direction: column;
}

footer ul li {
  padding: 0.5rem;
}

footer ul li a {
  font-size: 1.05rem;
  font-weight: 600;
  color: var(--elements-color);
  padding: 0.35rem 0.2rem;
  display: inline-block;
}

footer ul li a:hover {
  text-decoration: none;
  opacity: 0.95;
}

footer .social-media {
  display: flex;
  flex-direction: row;
  align-items: center;
}

footer .logo {
 width: 6rem;
}


