header {
  display: flex;
  flex-direction: row;
  min-width: 100%;
  min-height: 6.00rem;
  background-color: var(--color-primary-1);
  font-family: var(--font-primary), sans-serif;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.06);
  align-content: center;
  color: white;
  align-items: center;
  justify-content: space-between;
}

header svg {
  margin: 0 1rem;
}

header ul {
  display: flex;
  flex-direction: row;
  align-items: center;
}

header ul li {
  padding: 0 1rem;
}

header svg {
  width: 2.5rem;
}

header svg circle {
  fill: var(--light-color-1);
}
