body.has-sidebar main {
  padding: 3rem;
  //transition: margin-left 220ms ease, width 220ms ease;
}

/* Cuando el sidebar está abierto (clase en el body) */
body.has-sidebar.sidebar-open main,
body.sidebar-open main {
  margin-left: var(--sidebar-open-width);
}

/* Cuando el sidebar está abierto, reducir la anchura del header para evitar que se corte */
header.sidebar-open-header,
body.sidebar-open header {
  margin-left: var(--sidebar-open-width);
  min-width: 80%;
  //transition: margin-left 220ms ease, width 220ms ease;
  box-sizing: border-box;
}

