<section>
  <h1>{{'PAGES.BATTLES.TITLE' | translate}}</h1>
  <article>
    <app-refresh-button (click)="refreshBattles()"></app-refresh-button>
  </article>
  @if (battlesStore.loading() && !battlesStore.battles()) {
    <p>{{ 'PAGES.BATTLES.LOADING' | translate }}</p>
  }
  @if (battlesStore.error(); as bErr) {
    <p class="error">{{ 'PAGES.BATTLES.ERROR' | translate:{ err: bErr } }}</p>
  }
  @if (battlesStore.battles(); as battles) {
    @for (battle of battles; track battle.id) {
      <section>
        <p>{{battle.team.name}}</p>
        @if (battle.team.clan === null) {
          <p>{{ 'PAGES.BATTLES.NO_CLAN' | translate }}</p>
        } @else {
          <p>{{battle.team.clan.name}}</p>
        }
        <p>{{battle.team.trophyChange}}</p>
        <p>{{battle.team.crowns}}</p>
        <p>{{battle.team.playerDeck.archetype}}</p>
        @for (card of battle.team.playerDeck.playerCards; track card.id) {
          <img src="{{card.iconUrl.medium}}" alt="{{card.name}}" />
        }
      </section>
      <section>
        <p>{{battle.opponent.name}}</p>
        @if (battle.opponent.clan === null) {
          <p>{{ 'PAGES.BATTLES.NO_CLAN' | translate }}</p>
        } @else {
          <p>{{battle.opponent.clan.name}}</p>
        }
        <p>{{battle.opponent.trophyChange}}</p>
        <p>{{battle.opponent.crowns}}</p>
        <p>{{battle.opponent.playerDeck.archetype}}</p>
        @for (card of battle.opponent.playerDeck.playerCards; track card.id) {
          <img src="{{card.iconUrl.medium}}" alt="{{card.name}}" />
        }
      </section>
    }
  }
</section>
<app-sidebar></app-sidebar>
